.icon#headicon
  = products_icon

.pure-u-1
  .pure-menu.pure-menu-horizontal#submenu
    %small
      %center
        %ul.pure-menu-list
          %li.pure-menu-item
            %a.pure-menu-link(href="/products")
              = index_icon
              Local Products
        %ul.pure-menu-list
          %li.pure-menu-item
            %a.pure-menu-link(href="/remote_products")
              %i(class="fa fa-globe")
              Remote Products
        %ul.pure-menu-list
          %li.pure-menu-item
            %a.pure-menu-link(href="/products/links")
              %i(class="fa fa-link")
              Product Linking
        %ul.pure-menu-list
          %li.pure-menu-item
            %a.pure-menu-link(href="/products/link_wizard")
              %i(class="fa fa-magic")
              Product Link Wizard
