%table.pure-table
  %thead
    %tr
      %th
        Product name
      %th
        Product ID
      %th
        Supplier
      -#%th
      -#  Last Stock
  %tbody
    - products.each do |product|
      %tr
        %td
          = product_link product
        %td= product.product_id
        %td= product.supplier.try(:name)
        -#%td
        -#  %a(href="") Show modal
