.icon#headicon
  = settings_icon

= haml "maintenance/menu".to_sym

%h1 Suppliers

%ul.float_ul
  - @suppliers.each do |supplier|
    %li
      %a.supplier(href="/supplier/#{supplier.id}")
        =supplier.name
%br
