= haml "orders/menu".to_sym

%h1 Orders

- if Order.current.present?
  %a(href="/order/#{Order.current.id}")
    Current Order
- else
  %a(href="/order/new") New Order

%br
%br

%table.pure-table
  %thead
    %tr
      %th Date
      %th Number Items
      %th Action
      %th State
  %tbody
    - @orders.each do |order|
      %tr
        %td=order.created_at
        %td=order.order_items.count
        %td
          %a(href="/order/#{order.id}")
            View
        %td=order.state
