.icon#headicon
  = order_icon

.pure-u-1
  .pure-menu.pure-menu-horizontal#submenu
    %small
      %center
        %ul.pure-menu-list
          %li.pure-menu-item
            %a.pure-menu-link(href="/orders")
              = index_icon
              Orders
          %li.pure-menu-item
            %a.pure-menu-link(href="/order/new")
              = add_icon
              New or current
          %li.pure-menu-item
            %a.pure-menu-link(href="/orders/non_remote")
              = mail_icon
              Other Suppliers
          %li.pure-menu-item
            %a.pure-menu-link(href="/remote_orders")
              %i(class="fa fa-globe")
              Remote
