.pure-u-1
  .pure-menu.pure-menu-horizontal#menu
    %small
      %center
        %ul.pure-menu-list
          %li.pure-menu-item
            %a.pure-menu-link(href="/orders")
              %i(class="fa fa-puzzle-piece")
              Orders
        %ul.pure-menu-list
          %li.pure-menu-item
            %a.pure-menu-link(href="/remote_products")
              %i(class="fa fa-globe")
              New or current
        %ul.pure-menu-list
          %li.pure-menu-item
            %a.pure-menu-link(href="/orders/non_remote")
              %i(class="fa fa-link")
              others
