- if !product.hidden?
  %form.pure-form(action="/product/#{product.id}/hide" method="post" style="display: inline-block;")
    %button.pure-button.pure-button-primary(type="submit")
      %i.fa.fa-ban
      Hide
- else
  %form.pure-form(action="/product/#{product.id}/unhide" method="post" style="display: inline-block;")
    %button.pure-button.pure-button-primary(type="submit")
      %i.fa.fa-eye
      Unhide

