.pure-menu.pure-menu-horizontal#menu
  %center
    %ul.pure-menu-list
      %li.pure-menu-item
        %a.pure-menu-link(href="/orders")
          = order_icon
          Orders
      %li.pure-menu-item
        %a.pure-menu-link(href="/products")
          = products_icon
          Products
      %li.pure-menu-item
        %a.pure-menu-link(href="/remote_cart")
          %i(class="fa fa-cart-arrow-down")
          Current Cart
      %li.pure-menu-item
        %a.pure-menu-link(href="/maintenance")
          %i(class="fa fa-wrench")
          Maintenance

