%h1 Welcome at Rawbotz

#main-threes.pure-g
  .pure-u-1-3.center
    %a(href="/orders")
      %i.fa.fa-shopping-cart.huge-icon
    %br
    %h3 Last 3 Orders
    %table.pure-table-horizontal.pure-table
      -# Order.where(state: [Order::STATES.new, Order::STATES.processing, Order::STATES.queued, Order::STATES.ordered]).order("updated_at DESC").first(3).each do |order|
      - Order.where(state: ["new", "processing", "ordered", "mailed"]).order("updated_at DESC").first(3).each do |order|
        %tr
          %td
            %a(href="/order/#{order.id}")
              = order.updated_at.strftime("%Y-%m-%d %H:%M")
          %td
            = supplier_link order.supplier
          %td
            = order.state
  .pure-u-1-3.center
    %a(href="/products")
      %i.fa.fa-cubes.huge-icon
    %br
    %h3 Products
    -# latest addition?
  .pure-u-1-3.center
    %a(href="/suppliers")
      %i.fa.fa-truck.huge-icon
    %br
    %h3 Suppliers
