!!! 5
%html
  %head
    %title Rawbotz
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(charset="utf-8")
    %link(rel="stylesheet" txpe="text/css" href="/pure-min.css")
    %link(rel="stylesheet" txpe="text/css" href="/font-awesome-4.5.0/css/font-awesome.min.css")
    %link(rel="stylesheet" txpe="text/css" href="/rawbotz.css")
    %script{:type => 'text/javascript', :src => "/Chart.min.js"}
    %script{:type => 'text/javascript', :src => "/jquery-2.2.0.min.js"}
    %script{:type => 'text/javascript', :src => "/jui/jquery-ui.min.js"}
    %link(rel="stylesheet" type='text/css' href="/jui/jquery-ui.min.css")
  %body
    .pure-g
      .pure-u-1
        .pure-menu.pure-menu-horizontal#menu
          %center
            %ul.pure-menu-list
              %li.pure-menu-item
                %a.pure-menu-link(href="/orders")
                  %i(class="fa fa-shopping-bag")
                  Orders
              %li.pure-menu-item
                %a.pure-menu-link(href="/products")
                  %i(class="fa fa-puzzle-piece")
                  Products
              %li.pure-menu-item
                %a.pure-menu-link(href="/remote_orders")
                  %i(class="fa fa-puzzle-piece")
                  Remote Orders
              %li.pure-menu-item
                %a.pure-menu-link(href="/maintenance")
                  %i(class="fa fa-exclamation")
                  Maintenance
      .pure-u-1#main
        =yield
      .pure-u-1
        .pure-menu.pure-menu-horizontal#menu
          %small
            %center
              %ul.pure-menu-list
                %li.pure-menu-item
                  Rawbotz 2016 (c) Felix Wolfsteller
