%h1 Maintenance

%h2 Info
%h3 Remote Shop
%center
  %small
    %b
      Name
    = settings.supplier_name
%h3 Local Shop Database
%h3 Rawbotz Database

%h2 Actions
.pure-u-1-5
.pure-u-3-5
  .pure-menu.pure-menu-horizontal#menu
    %center
      %ul.pure-menu-list
        %li.pure-menu-item
          %a.pure-menu-link(href="/")
            %i(class="fa fa-puzzle-refresh")
            Refresh/Import remote
        %li.pure-menu-item
          %a.pure-menu-link(href="/")
            %i(class="fa fa-import")
            Maintenance...
.pure-u-1-5

%h2 Systems Information

Version #{Rawbotz::VERSION}.

Built on top of

%dl
  %dt
    %a(href="http://sinatrarb.com") Sinatra
  %dd
    Minimal Web Application Framework how it should be done, Ruby.

  %dt
    %a(href="http://haml.info") Haml
  %dd
    Write less but better HTML.

  %dt
    %a(href="http://") ActiveRecord
  %dd
    Popular ORM from the Ruby on Rails universe

  %dt
    %a(href="http://purecss.io") Pure CSS framework
  %dd
    Small but solid CSS framework.

  %dt
    %a(href="http://") Font Awesome
  %dd
    (Font) Awesome icons.

  %dt
    %a(href="http://") Chart.js
  %dd
    For JavaScript Charts.

  %dt
    %a(href="http://") jquery.js
  %dd
    For JavaScript.

  %dt
    %a(href="http://") jquery-ui.js
  %dd
    For JavaScript UI goodies.
