.pure-g
  .pure-u-1#main
    - if flash
      - if msg = flash.delete(:error)
        #flash.ui-state-error
          = msg.join(" | ")
      - if msg = flash.delete(:success)
        #flash.ui-state-highlight
          = msg.join(" | ")
      - if msg = flash.delete(:failure)
        #flash.ui-state-highlight
          = msg.join(" | ")
      - if msg = flash.delete(:info)
        #flash.ui-state-highlight
          = msg.join(" | ")

    =yield
