.wished_qty_input
  - input_id = "item_#{input_id_num}"
  - num_wished ||= nil
  %input.qty(id=input_id name=input_id size="2" value=num_wished)
  - packsize = product.packsize
  - if packsize.present?
    .packsize-buttons
      %a.pure-button.plus-pack(data-packsize=packsize data-reference_input_id=input_id)
        %i.fa.fa-plus-square
        %i.fa.fa-cube
        (#{packsize})
      %a.pure-button.minus-pack(data-packsize=packsize data-reference_input_id=input_id)
        %i.fa.fa-minus-square
        %i.fa.fa-cube
        (#{packsize})
  %button.pure-button.order-none
    %i.fa.fa-remove
