%h1 New Order

%form.pure-form.pure-form-aligned(action="" method="post")
  %input(type="hidden" name="_method" value="put")

  :javascript
    $(function() {
      $( "#tabs" ).tabs();
    });

  #tabs
    %ul
      %li
        %a(href="#under_min")Under min
      %li
        %a(href="#tabs-2")all
      %li
        %a(href="#tabs-2")ordered
      %li
        %a(href="#tabs-3")ignored
    #under_min
      = haml "order/_item_table".to_sym, locals: { order: @order}
